<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Create a Customer</title>
	</head>
	<body>
		<h1>Create a New Customer!</h1>
		<form method="POST" action="/customers">
			<input type="text" name="name" placeholder="Name" required />
			<input type="number" name="age" placeholder="Age" required />
			<button type="submit">Create Customer</button>
		</form>
	</body>
</html>
